.sidebar {
  border-top: 2px solid white;
  width: 17vw;
  height: 92vh;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1%;
}

.sidebar h3 {
  width: 17vw;
  margin-top: 16px;
  text-align: center;
  font-weight: 300;
  transition: all ease-in-out 0.2s;
}

.sidebar h3:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 212);
  font-size: 2vw;
}

@media (max-width: 440px) {
  .sidebar {
    width: 37vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5%;
  }

  .sidebar h3 {
    width: 12vw;
    text-align: left;
    font-weight: 300;
    transition: all ease-in-out 0.2s;
    font-size: 4vw;
    margin-left: 1vw;
  }

  .sidebar h3:hover {
    cursor: pointer;
    background-color: rgb(255, 0, 212);
    font-size: 6vw;
  }
}
